extends layout

block scripts
    script(src="/javascripts/qrcode.js")
    script(src="/javascripts/jquery.qrcode.js")
    script(type="text/javascript")
        $(document).ready(function(){
             $("#code").change(function(event){
                var url = 'http://www.nashtaag.com/' + $("#code").val();
                $("#taagPreview table").remove();
                $("#taagPreview").qrcode({
                    render: 'div',
                    width: 300,
                    height: 300,
                    text: url });
            });

            $("#btnsave").click(function(){
                var taag = { taag: null };
                taag.taag = ko.toJS(viewModel);
                var json = JSON.stringify(taag);

                $.ajax({
                    type: "POST",
                    url: "/taag/saveTaag",
                    data: json,
                    dataType: "json",
                    contentType: 'application/json',
                    success: function() { 
                        alert('success'); 
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert('Error: ' + errorThrown + ", Status: " + textStatus);
                    }
                }).done(function() {
                    alert("Done");
                });
            });

            function TaagViewModel(){
                var self = this;

                self.id = ko.observable();
                self.type = ko.observable();
                self.code = ko.observable();
                self.title = ko.observable();
                self.description = ko.observable();

                self.medias = ko.observableArray([
                    new MediaViewModel(),
                ]);

                self.addMedia = function() { self.medias.push(new MediaViewModel()); }
                self.removeMedia = function(m) { self.medias.remove(m); } 
            }

            function MediaViewModel(){
                var self = this;
                self.type = ko.observable();
                self.url = ko.observable();
                self.image = ko.observable();

                this.type.subscribe(function(newValue) {
                    if (newValue === "Image") {
                        $(".image-column").show();
                        $(".url-column").hide();
                    }else{
                        $(".image-column").hide();
                        $(".url-column").show();
                    }
                }, this);
            }
            var viewModel = new TaagViewModel();
            ko.applyBindings(viewModel);
        });        

block content
    .row-fluid
        .span5.offset2
            h1.color-4(style="background:transparent; color: #FFF")=title
            form#taag_form
                .editItem.form-select
                    label.form-label="Type: "
                    select(data-bind="value: type")
                        option(value="Point Of Interest")="Point Of Interest"
                        option(value="Location")="Location"
                        option(value="Service")="Service"
                .editItem
                    label.form-label="Code: "
                    input(type="text", id="code", name="taag[code]", data-bind="value: code")
                .editItem
                    label.form-label="Title: "
                    input(type='text', id='title', name='taag[title]', data-bind="value: title")
                .editItem
                    label.form-label="Decription: "
                    input(type='text', id='description', name='taag[description]', data-bind="value: description")
                input(type='hidden', id='id', name='taag[id]', data-bind="value: id")

                h3 Media
                .editItem
                    table
                        thead
                            tr
                                th="Type"
                                th(class="url-column")="URL"
                                th(class="image-column")="File"
                                th=""
                        tbody(data-bind="foreach: medias")
                            tr
                                td
                                    select(data-bind="value: type")
                                        option(value="Image")="Image"
                                        option(value="Video")="Video"
                                        option(value="Link")="Link"
                                td(class="url-column")
                                    input(data-bind="value: url")
                                td(class="image-column")
                                    input(type="file", data-bind="value: image")
                                td
                                    a(href="#", onclick="return false;", data-bind="click: $root.removeMedia")="Remove"

                    button(class='btn', data-bind="click: addMedia")="Add Media"

            button(id="btnsave", class='btn', href='#btnSave')="Save"

        .span3#taagPreviewContainer
            div#taagPreview
    div(style="height: 100px")
