extends layout

block scripts
    script(src="/javascripts/qrcode.js")
    script(src="/javascripts/jquery.qrcode.js")
    script(type="text/javascript")
        $(document).ready(function(){
             $("#code").change(function(event){
                var url = 'http://www.nashtaag.com/' + $("#code").val();
                $("#taagPreview table").remove();
                $("#taagPreview").qrcode({
                    render: 'div',
                    width: 300,
                    height: 300,
                    text: url });
                $("#taagPreviewLabelContainer label").show();
            });

            $("#btnsave").click(function(){
                var taag = { taag: null };
                taag.taag = ko.toJS(viewModel);
                var json = JSON.stringify(taag);

                $.ajax({
                    type: "POST",
                    url: "/taag/saveTaag",
                    data: json,
                    dataType: "json",
                    contentType: 'application/json',
                    success: function(data) { 
                        //alert('success'); 
                        if (data.isSuccessful){
                            //window.location("/" + data.code);
                            window.location.href = "/" + data.code;
                        } else {
                            alert("Error, no code returned.");
                        }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert('Error: ' + errorThrown + ", Status: " + textStatus);
                    }
                }).done(function() {
                    //alert("Done");
                });
            });

            function TaagViewModel(){
                var self = this;

                self.id = ko.observable();
                self.type = ko.observable();
                self.code = ko.observable();
                self.title = ko.observable();
                self.description = ko.observable();

                self.medias = ko.observableArray([
                    new MediaViewModel(),
                ]);

                self.addMedia = function() { self.medias.push(new MediaViewModel()); }
                self.removeMedia = function(m) { self.medias.remove(m); } 
            }

            function MediaViewModel(){
                var self = this;
                self.type = ko.observable();
                self.title = ko.observable();
                self.url = ko.observable();
                self.image = ko.observable();
            }


            ko.bindingHandlers.selectChanged = {
                init: function(element, valueAccessor, allBindingsAccessor, viewModel, bindingContext) {
                    if ($(element).val() === "Image") {
                            $(element).parent().parent().find(".image-column").show();
                            $(element).parent().parent().find(".url-column").hide();
                            $(element).parent().parent().find(".title-column").hide();
                        }else
                        if ($(element).val() === "Video") {
                            $(element).parent().parent().find(".image-column").hide();
                            $(element).parent().parent().find(".url-column").show();
                            $(element).parent().parent().find(".title-column").show();
                        }else
                        {
                            $(element).parent().parent().find(".image-column").hide();
                            $(element).parent().parent().find(".url-column").show();
                            $(element).parent().parent().find(".title-column").hide();
                        }
                },
                update: function(element, valueAccessor, allBindingsAccessor, viewModel, bindingContext) {
                    $(element).change(function(){

                        //alert("Hello");

                        if ($(this).val() === "Image") {
                            $(this).parent().parent().find(".image-column").show();
                            $(this).parent().parent().find(".url-column").hide();
                            $(this).parent().parent().find(".title-column").hide();
                        }else
                        if ($(this).val() === "Video") {
                            $(this).parent().parent().find(".image-column").hide();
                            $(this).parent().parent().find(".url-column").show();
                            $(this).parent().parent().find(".title-column").show();
                        }else
                        {
                            $(this).parent().parent().find(".image-column").hide();
                            $(this).parent().parent().find(".url-column").show();
                            $(this).parent().parent().find(".title-column").hide();
                        }

                    });
                }
            };

            var viewModel = new TaagViewModel();
            ko.applyBindings(viewModel);
        });        

block content
    .row-fluid
        .span5.offset2
            h1.color-4(style="background:transparent; color: #FFF")=title
            form#taag_form
                .editItem.form-select
                    label.form-label="Type: "
                    select(data-bind="value: type")
                        option(value="Point Of Interest")="Point Of Interest"
                        option(value="Location")="Location"
                        option(value="Service")="Service"
                .editItem
                    label.form-label="Code: "
                    input(type="text", id="code", name="taag[code]", data-bind="value: code")
                .editItem
                    label.form-label="Title: "
                    input(type='text', id='title', name='taag[title]', data-bind="value: title")
                .editItem
                    label.form-label="Decription: "
                    input(type='text', id='description', name='taag[description]', data-bind="value: description")
                input(type='hidden', id='id', name='taag[id]', data-bind="value: id")

                h3 Media
                .editItem
                    table
                        tbody(data-bind="foreach: medias")
                            tr
                                td
                                    select(data-bind="selectChanged: type")
                                        option(value="Image")="Image"
                                        option(value="Video")="Video"
                                        option(value="Link")="Link"
                                td(class="url-column")
                                    input(data-bind="value: url", placeholder="url")
                                td(class="title-column")
                                    input(data-bind="value: title", placeholder="title")
                                td(class="image-column")
                                    input(type="file", data-bind="value: image", placeholder="image")
                                td
                                    a(href="#", onclick="return false;", data-bind="click: $root.removeMedia")="Remove"
            .buttons               
                button(class='btn', data-bind="click: addMedia", style="display: inline-block; margin-right: 10px;")="Add Media"
                button(id="btnsave", class='btn', style="display: inline-block")="Save Taag"

        .span3#taagPreviewContainer
            #taagPreviewLabelContainer
                label(style="display:none")="QR Code"
            div#taagPreview
    div(style="height: 100px")
