extends layout
block style
    style
        .media-element{
            padding: 3px;
        }

block scripts
    script(src="/javascripts/qrcode.js")
    script(src="/javascripts/jquery.qrcode.js")
    script(type="text/javascript")
        $(document).ready(function(){
             $("#code").change(function(event){
                var url = 'http://www.nashtaag.com/' + $("#code").val();
                $("#taagPreview table").remove();
                $("#taagPreview").qrcode({
                    render: 'div',
                    width: 300,
                    height: 300,
                    text: url });
                $("#taagPreviewLabelContainer label").show();
            });

            $("#btnsave").click(function(){
                var taag = { taag: null };
                taag.taag = ko.toJS(viewModel);
                var json = JSON.stringify(taag);

                $.ajax({
                    type: "POST",
                    url: "/taag/saveTaag",
                    data: json,
                    dataType: "json",
                    contentType: 'application/json',
                    success: function(data) { 
                        //alert('success'); 
                        if (data.isSuccessful){
                            window.location.href = "/" + data.code;
                        } else {
                            if (data.message.length > 0){
                                $("#Error").show();
                                $("#Message").text(data.message);
                            }
                        }
                    },
                    error: function(XMLHttpRequest, textStatus, errorThrown) {
                        alert('Error: ' + errorThrown + ", Status: " + textStatus);
                    }
                }).done(function() {
                    //alert("Done");
                });
            });

            function TaagViewModel(){
                var self = this;

                self.id = ko.observable();
                self.type = ko.observable();
                self.code = ko.observable();
                self.title = ko.observable();
                self.description = ko.observable();

                self.medias = ko.observableArray([
                    new MediaViewModel(),
                ]);

                self.addMedia = function() { self.medias.push(new MediaViewModel()); }
                self.removeMedia = function(m) { self.medias.remove(m); } 
            }

            function MediaViewModel(){
                var self = this;
                self.type = ko.observable();
                self.title = ko.observable();
                self.url = ko.observable();
                self.image = ko.observable();

                self.onTypeChange = function(model, event){
                    var parent = $(event.target).parent().parent();
                    if (self.type() === "Image") {
                        $(".image-column", parent).show();
                        $(".url-column", parent).hide();
                        $(".title-column", parent).hide();
                    } if (self.type() === "Video") {
                        $(".image-column", parent).hide();
                        $(".url-column", parent).show();
                        $(".title-column", parent).show();
                    } if (self.type() === "Link") {
                        $(".image-column", parent).hide();
                        $(".url-column", parent).show();
                        $(".title-column", parent).hide();
                    }
                };
            }

            var viewModel = new TaagViewModel();
            ko.applyBindings(viewModel);
        });        

block content
    .row-fluid
        .span5.offset2
            h1.color-4(style="background:transparent; color: #FFF")=title
            form#taag_form
                .editItem.form-select
                    label.form-label="Type: "
                    select(data-bind="value: type")
                        option(value="Point Of Interest")="Point Of Interest"
                        option(value="Location")="Location"
                        option(value="Service")="Service"
                .editItem
                    label.form-label="Code: "
                    input(type="text", id="code", name="taag[code]", data-bind="value: code")
                .editItem
                    label.form-label="Title: "
                    input(type='text', id='title', name='taag[title]', data-bind="value: title")
                .editItem
                    label.form-label="Decription: "
                    input(type='text', id='description', name='taag[description]', data-bind="value: description")
                input(type='hidden', id='id', name='taag[id]', data-bind="value: id")

                h3 Media
                .editItem
                    div(data-bind="foreach: medias")
                        div(style="white-space:nowrap; ")
                            div(style="display:inline-block;", class="media-element")
                                select(data-bind="value: type, event : { change: onTypeChange }")
                                    option(value="Image")="Image"
                                    option(value="Video")="Video"
                                    option(value="Link")="Link"
                            span(class="url-column media-element")
                                input(data-bind="value: url", placeholder="url")
                            span(class="title-column media-element")
                                input(data-bind="value: title", placeholder="title")
                            span(class="image-column media-element")
                                input(type="file", data-bind="value: image", placeholder="image")
                            span(style="media-element")
                                a(href="#", onclick="return false;", data-bind="click: $root.removeMedia")="Remove"

            .buttons               
                button(class='btn', data-bind="click: addMedia", style="display: inline-block; margin-right: 10px;")="Add Media"
                button(id="btnsave", class='btn', style="display: inline-block")="Save Taag"
            div#Error(style="border:1px solid red; background-color: #D9D9D9; margin:10px; padding:10px; display:none;")
                span#Message(style="color:red;")

        .span3#taagPreviewContainer
            #taagPreviewLabelContainer
                label(style="display:none")="QR Code"
            div#taagPreview
    div(style="height: 100px")
