extends layout

block content
    script(type="text/javascript")
        $(document).ready(function(){
            $("#btnsave").click(function(){
                    alert(JSON.stringify(issueViewModel));


                    var code = $("#code").val();
                    var description = $("#description").val();
                    var title = $("#title").val();
                    var json = JSON.stringify({code: code, description: description, issueTitle: title});

                    alert(json);

                    $.ajax({
                        type: "POST",
                        url: "/taag/addIssue",
                        data: json,
                        dataType: "json",
                        contentType: 'application/json',
                        success: function() { 
                            alert('success'); 
                        },
                        error: function(XMLHttpRequest, textStatus, errorThrown) {
                            $("#description").val("");
                            $("#title").val("")
                        }
                    }).done(function() {
                        alert("Done");
                    });

            });

            function IssueViewModel(){
                var self = this;

                self.code = ko.observable("");
                self.issueTitle = ko.observable("");
                self.description = ko.observable("");
            }

            var issueViewModel = new IssueViewModel();
            ko.applyBindings(issueViewModel);
        });


    style(type="text/css")
        .flex-video {
          position: relative;
          padding-top: 25px;
          padding-bottom: 67.5%;
          height: 0;
          margin-bottom: 16px;
          overflow: hidden;
        }
             
        .flex-video.widescreen { padding-bottom: 57.25%; }
        .flex-video.vimeo { padding-top: 0; }
         
        .flex-video iframe,
        .flex-video object,
        .flex-video embed {
          position: absolute;
          top: 0;
          left: 0;
          width: 200px;
          height: 200px;
        }
        @media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
        .flex-video { padding-top: 0; }
        }

    // Check and see if taag is populated 
    unless taag == null 
        .row-fluid
            .span5.offset2
                h2.title.color-4(style="background:transparent; color: #FFF") #{taag.title}

                .row
                    label(style="display:inline-block; width: 200px; font-size: 22px;") Type: 
                    .row.content(style="display:inline-block; font-size: 22px;") #{taag.type}

                .row
                    label(style="display:inline-block; width: 200px; font-size: 22px;") Code:
                    .row.content(style="display:inline-block; font-size: 22px;") #{taag.code}

                .row
                    label(style="display:inline-block; width: 200px; font-size: 22px;") Description:  
                    .row.content(style="display:inline-block; font-size: 22px;") #{taag.description}
            .span3
                h2.title.color-4(style="background:transparent; color: #FFF") Links
                    each link, i in links
                        unless link == null
                            .row
                                label(style="display:inline-block; width: 200px; font-size: 22px;") #{link.type}:
                                .row.content(style="display:inline-block; font-size: 22px;") #{link.url}
        .row-fluid
            .span5.offset2
                .row
                    h2.title.color-4(style="background:transparent; color: #FFF") Videos
                .row
                    //each vid , i in videos
                    //    unless vid == null
                    //         div.flex-video.widescreen
                    for vid in videos
                        unless vid == null
                            div.flex-video.widescreen
                                iframe(src="https://www.youtube-nocookie.com/embed/" + vid.videoId, frameborder="0", allowfullscreen="")
        .row-fluid
            .span5.offset2
                .row
                    h2.title.color-4(style="background:transparent; color: #FFF") Report Issues
                .row
                    form#issue_form
                        .editItem
                            table
                                tbody
                                    tr
                                        td(class="title-column")
                                            input#code(type="hidden", value="#{taag.code}")
                                            input#title(placeholder="title")
                                        td(class="description-column")
                                            input#description(placeholder="description", data-bind="value: description")
                    button(id="btnsave", class='btn', style="display: inline-block")="Save Issue"
    else
        h2.color-4 Sorry, No Taag Found

    div(style="height: 100px")






